<?xml version="1.0"?>
<launch>
    <arg name="bag_type" default="compressed"/> <!-- raw, compressed, or undistorted -->
    <arg name="config" default="config.yaml"/>
    
    <rosparam file="$(find insta360_ros_driver)/config/$(arg config)" command="load"/>
    <node name="directory_verification" pkg="insta360_ros_driver" type="directory_verification.py"/>

    <param name="bag_type" value="$(arg bag_type)"/>
    <node name="record" pkg="insta360_ros_driver" type="record.py"/>
</launch>
