<?xml version="1.0"?>
<launch>
    <arg name="bag_type" default="compressed"/> <!-- raw, compressed, or undistorted -->
    <arg name="bag_dir" default="$(find insta360_ros_driver)/bag"/>

    <group if="$(eval arg('mode') == 'raw')">
        <node name="rosbag" pkg="rosbag" type="record" args="-o $(arg bag_dir)/raw/ /insta_image_yuv" output="screen"/>
    </group>

    <group if="$(eval arg('mode') == 'compressed')">
        <node name="rosbag" pkg="rosbag" type="record" args="-o $(arg bag_dir)/compressed/ /back_camera_image/compressed /front_camera_image/compressed" output="screen"/>
    </group>

    <group if="$(eval arg('mode') == 'undistorted')">
        <node name="rosbag" pkg="rosbag" type="record" args="-o $(arg bag_dir)/compressed/ /back_camera_image/compressed /front_camera_image/compressed" output="screen"/>
    </group>
</launch>
