<?xml version="1.0"?>
<launch>
    <arg name="bag_file" default="~/bag/undistorted/record.bag"/>
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find insta360_ros_driver)/config/preview.rviz" output="screen"/>

    <node name="rosbag" pkg="rosbag" type="play" args="--clock $(arg bag_file)" output="screen"/>
</launch>